{% extends "layout.html" %} {% block content %}
<h1>Paiement</h1>
<form method="POST">
  {{ form.hidden_tag() }}

  <label for="card_number">Numéro de carte :</label>
  {{ form.card_number(size=16, id="card_number") }}<br />
  {% for error in form.card_number.errors %}
  <span style="color: red">[{{ error }}]</span>
  {% endfor %}

  <label for="expiration">Date d'expiration (MM/AA) :</label>
  {{ form.expiration(size=5, id="expiration", placeholder="MM/AA") }}<br />
  {% for error in form.expiration.errors %}
  <span style="color: red">[{{ error }}]</span>
  {% endfor %}

  <label for="cvv">CVV :</label>
  {{ form.cvv(size=3, id="cvv") }}<br />
  {% for error in form.cvv.errors %}
  <span style="color: red">[{{ error }}]</span>
  {% endfor %}

  <button type="submit" class="btn">Payer</button>
</form>
{% endblock %}
